# Python
.venv/
__pycache__/
*.pyc

# Logs / Output
_logs/
output/

# OS
.DS_Store
Thumbs.db
.idea/
config/endframes.json
config/hud_layout.json
config/output_format.json
config/png_view.json
/config/profiles
config/startframes.json
config/ui_last_run.json
/docs
/input
