# Python
.venv/
__pycache__/
*.pyc

# Logs / Output
_logs/
output/

# OS
.DS_Store
Thumbs.db
input/video/Garage 61 - Daniel Aebischer - McLaren 720S GT3 EVO - Sachsenring - 01.19.262 - 01KET03284F6WM1PRHPBPHVEA2.mp4
input/video/Garage 61 - Daniel Aebischer - McLaren 720S GT3 EVO - Sachsenring - 01.18.209 - 01KET03284F6WM1PRHPYRSSFCM.mp4
config/endframes.json
config/hud_layout.json
config/output_format.json
config/png_view.json
/config/profiles
config/startframes.json
config/ui_last_run.json
/docs
/input
